<section class="dashboard-main">
  <h1> <%= current_user.first_name %>'s Dashboard </h1>

  <%= button_to 'Log Out', logout_path, method: 'delete', class: "btn btn-primary mb1 bg-teal" %>
  <h3>Account Details</h3>
  <ul>
    <li> <%= current_user.first_name  %> <%= current_user.last_name %> </li>
    <li> <%= current_user.email%> </li>
    <li> Status: <%= current_user.status %></li>
    <li> <%= link_to "Send an Invite", '/invite' %></li>
  </ul>
  <section>
    <h1>Bookmarked Segments</h1>
  </section>


  <section class="friends">
    <h3>Your Friends</h3>
    <ul>
    <% current_user.friended.each do |friend| %>
      <li><%= friend.github_login %></li>
    </ul>
    <% end %>
  </section>

  <% if current_user.token %>
    <section class="<%= current_user.first_name %>-repos">
      <h3>Your Github Repos</h3>
      <% @repos.each do |repo| %>
        <p class='repo'><%= link_to repo.name, repo.html_url %></p>
      <% end %>
    </section><br>
    <section class="<%= current_user.first_name %>-followers">
      <h3>Your Github Followers</h3>
      <% @followers.each do |follower| %>
        <% if User.in_database?(follower.login) && current_user.not_yet_friends?(follower) %>
          <p class='follower-<%= follower.login %>'><%= link_to follower.login, follower.html_url %> - <%= link_to "Add Friend", friends_path(:friend => follower.login), method: :post %></p>
        <% else %>
          <p class='follower-<%= follower.login %>'><%= link_to follower.login, follower.html_url %></p>
        <% end %>
      <% end %>
    </section><br>
    <section class="<%= current_user.first_name %>-following">
      <h3>Users You Follow on Github</h3>
      <% @following.each do |following| %>
        <% if User.in_database?(following.login)  && current_user.not_yet_friends?(following)%>
          <p class='following-<%= following.login %>'><%= link_to following.login, following.html_url %> - <%= link_to "Add Friend", friends_path(:friend => following.login), method: :post %></p>
        <% else %>
          <p class='following-<%= following.login %>'><%= link_to following.login, following.html_url %></p>
        <% end %>
      <% end %>
    </section>
  <% else %>
    <%= link_to 'Connect to Github', github_login_path, class: "btn btn-primary mb1 bg-teal" %>
  <% end %>
</section>
